﻿* {
    padding:0;
    border:0;
}
body {
    background-color:#4e4e4e;
    font-family:Arial;
}
#main {
    width:800px;
    margin:auto;
}
.jobBoard, .jobFilter {
    display:inline-block;
    vertical-align:top;
    padding:10px;
    border-radius:10px;
    background-color:#e4dcdc;
}
.jobDates {
    float:right;
    font-size:.7em;
}
.jobBody {
    font-size:.9em;
}
.jobDetails {
    display: none;
    padding-left:5px;
    padding-right:5px;
    width:85%;
    margin-bottom:5px;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#fff;
    color:#4e4e4e;
    border-radius:10px;
    border:1px solid #4e4e4e;
}
#mainLogo {
    display:block;
    margin:auto;
}

.subTitle {
    width:100%;
    font-size:2em;
    text-align:center;
    color:#6D6D6D;
}

.title {
    width:93%;
    margin:auto;
    display:inline-block;
    background-color:#fff;
    border-radius:10px;
    min-height:20px;
    padding:10px;
    overflow:auto;
}

.innerJobPostings {
    margin-top: 30px;
}
.jobBoard {
    width:60%;
}

.jobFilter {
    width:30%;
}

.button {
    width:100px;
    height:25px;
    padding:2px;
    font-family:Arial;
    font-weight:bold;
    border-radius:2px;
    background-color:#F0F0F0;
    box-shadow: #6f6e6f 3px 3px;
}

.controlPanel{
    float:right;
    margin-right:10px;
}
#scrollToTop {
    width:50px;
    height:50px;
    line-height:50px;
    opacity:0.5;
    background-color:#fff;
    font-weight:bold;
    color:#4e4e4e;
    border-radius:10px;
    text-align:center;
    position:fixed;
    bottom:10px;
    right:10px;
    z-index:10000;
    display:none;
}

#scrollToTop:hover {
    cursor:pointer;
    opacity:1.0;
}
.sortArrow {
    width:15px;
    margin-left:5px;
    margin-bottom:3px;
}

.descriptionPanel, .sortPanel {
    display: inline-block;
    margin-left:10px;
    opacity:0.5;
    font-weight:bold;
}

.sortPanel:hover {
    cursor:pointer;
    opacity:1.0;
}

.centeredButton {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.button:hover {
    cursor:pointer;
    background-color:#fbfafa;
}

.aFilter {
    padding-top:2px;
    padding-bottom:1px;
    padding-left:2px;
    padding-right:2px;
}

.loaderImage {
    width:10px;
    margin:auto;
    vertical-align:central;
    display:block;
}

#error {
    color:#f00;
    font-weight:bold;
    font-family:Arial;
    font-size:1em;
    width:100%;
    text-align:center;
}

.aFilter:hover {
    background-color:#6f6e6f;
}

.aFilterSelected {
    background-color:#565454;
}

.aFilterSelected,.aFilter:hover {
    cursor:pointer;
    color:#fff;
}

.aFilterContainer {
    background-color:#fff;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom:1px solid #4e4e4e;
    border-right:1px solid #4e4e4e;
    border-left:1px solid #4e4e4e;
    height:250px;
    overflow-y:scroll;
}

.filterTitle {
    background-color:#BC0001;
    border:1px solid #4e4e4e;
    color:#fff;
    text-align:center;
    font-size:1.1em;
    padding:5px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.job{
    width: 90%;
    margin-bottom:5px;
    margin-left:auto;
    margin-right:auto;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#fff;
    color:#4e4e4e;
    border-radius:10px;
    border:1px solid #4e4e4e;
}

.job:hover {
    cursor:pointer;
    box-shadow:#4e4e4e 0px 0px 7px;
}
.jobTitle, .jobAuthor {
    text-align:center;
}

.jobTitle {
    font-weight:bold;
    font-size:1.2em;
    color:#0026ff;
}
