﻿@model OsuJobs.Models.JobPosting
<a href="@Model.Url" target="_blank">More Details</a>
<div class="jobDates">
    Modified On @Model.LastUpdatedFormatted<br />
    Published On @Model.PublishedFormatted
</div>
<br />
<br />
<div class="jobBody">
    @Html.Raw(Model.Content)
</div>