﻿@using OsuJobs.Models.Data
@model IEnumerable<OsuJobs.Models.JobPosting>

@{
    var jobTitles = Model.Select(x => x.Title).Distinct().ToList();
    var postingDepartments = Model.Select(x => x.Author).Distinct().ToList();
    postingDepartments.Sort();
    jobTitles.Sort();
}

@if (Model != null && Model.Any())
{  
    <input class="button centeredButton" type="button" value="Reset" onclick="filterReset()" />
    <br />
    <div class="filterTitle">
        Filter By Department
    </div>
    <div class="aFilterContainer">
        @foreach(var department in postingDepartments)
        {
            <div class="aFilter" data-filter-by="@JobProperty.Department" data-filter-by-value="@department">
                @department
            </div>
        }
    </div>
    <br />
    <div class="filterTitle">
       Filter by Job Title
    </div>
    <div class="aFilterContainer">
        @foreach(var title in jobTitles)
        {
            <div class="aFilter" data-filter-by="@JobProperty.Title" data-filter-by-value="@title">
                @title
            </div>
        }
    </div>
}
else
{
    <div class="defaultText">No Filters Available</div>
}

<script type="text/javascript">
    $(function () {
        $(".aFilter").click(function () {
            if ($(this).hasClass("aFilterSelected")) {
                $(this).removeClass("aFilterSelected");
            } else {
                $(this).addClass("aFilterSelected");
            }

            applyFilterAndSearch();
        });
    });

    function filterReset() {
        $(".aFilter").removeClass("aFilterSelected");
        applyFilterAndSearch();
    }

    function applyFilterAndSearch() {
        var parameters = getFilters();

        if ($("#loading").length == 0) {
            $("#actualPostings").prepend("<div class='job' id='loading'><img src='/Content/images/ajax-loader.gif' class='loaderImage' /></div>");
        }

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            type: "POST",
            data: JSON.stringify({ 'filter': parameters }),
            url: "@Url.Action("FilterJobs")",
            success: function (data, textStatus, jqXHR) {
                $("#jobPostings").html(data);
            },
            fail: function () {
                $("#error").html("An unexpected error has occured please refresh and try again.");
            }
        });
    }

    function getFilters() {
        var parameters = [];

        $(".aFilterSelected").each(function () {
            parameters.push({
                Type: $(this).attr("data-filter-by"),
                Value: $(this).attr("data-filter-by-value")
            });
        });

        return parameters;
    }
</script>