﻿@model IEnumerable<OsuJobs.Models.JobPosting>
<div class="jobFilter">
    @Html.Partial("_Filters", Model)
</div>
<div id="jobPostings" class="jobBoard">
    @Html.Partial("_Postings", Model);
</div>