﻿@model OsuJobs.Models.JobPosting
<div data-id="@Model.Id" data-title="@Model.Title" data-department="@Model.Author" class="job">
    <div class="jobTitle">
        @Html.Raw(Model.Title)
    </div>
    <div class="jobAuthor">
        @Html.Raw(Model.Author)
    </div>
    <div class="jobContent"></div>
</div>
<div data-id="@Model.Id" class="jobDetails"></div>