﻿@using OsuJobs.Models.Data;
@using OsuJobs.Models;
@model IEnumerable<OsuJobs.Models.JobPosting>

@if (Model != null && Model.Any())
{
    foreach (var job in Model)
    {
        @Html.Partial("_Job", job)
    }
}
else
{
    <div class="defaultText">No Job Postings Found</div>
}
<script type="text/javascript">
    $(function () {
        $(".job").click(function () {
            if ($(".jobDetails[data-id=" + $(this).attr("data-id") + "]").is(":visible")) {
                $(".jobDetails[data-id=" + $(this).attr("data-id") + "]").slideUp(500, function () {
                    $(this).empty();
                });

                $(this).css("background-color", "#fff");
                $(this).find(".jobTitle").css("color","#0026ff");
                $(this).find(".jobAuthor").css("color","#4e4e4e");
            } else {
                $(".jobDetails:visible").slideUp(200, function () {
                    $(this).empty();
                    var $jobContext = $(".job[data-id=" + $(this).attr("data-id") + "]");
                    $jobContext.css("background-color", "#fff");
                    $jobContext.find(".jobTitle").css("color", "#0026ff");
                    $jobContext.find(".jobAuthor").css("color", "#4e4e4e");
                });

                var $jobContext = $(this).css("background-color", "#BB2025");
                $jobContext.find(".jobTitle").css("color", "#fff");
                $jobContext.find(".jobAuthor").css("color", "#fff");

                $(".jobDetails[data-id=" + $(this).attr("data-id") + "]").load("@Url.Action("JobDetails", new { id = "UNIQUEID" })".replace("UNIQUEID", $(this).attr("data-id")),
                    function () {
                        $(this).slideDown(500);
                    });
            }
        });
    });
</script>