﻿@using OsuJobs.Models.Data;
@using OsuJobs.Models;
@model IEnumerable<OsuJobs.Models.JobPosting>
@{
    var sort = new JobSort();

    if (ViewBag.SortBy != null)
    {
        sort = (JobSort)ViewBag.SortBy;
    } 
}
<div class="controlPanel">
    <div class="descriptionPanel">
        Sort By:
    </div>
    <div data-sort-direction="@DirectionSort.Dsc" data-sort-property="@JobProperty.Department" class="sortPanel">
        Department <img src="@Url.Content("~/Content/images/downarrow.png")" class="sortArrow" />
    </div>
    <div data-sort-direction="@DirectionSort.Dsc" data-sort-property="@JobProperty.Title" class="sortPanel">
        Title <img src="@Url.Content("~/Content/images/downarrow.png")" class="sortArrow" />
    </div>
</div>
<div id="actualPostings" class="innerJobPostings">
    @Html.Partial("_JustPostings", Model)
</div>
<script type="text/javascript">
    $(function () {
        $(".sortPanel").click(function () {
            if ($("#loading").length == 0) {
                $("#actualPostings").prepend("<div class='job' id='loading'><img src='/Content/images/ajax-loader.gif' class='loaderImage' /></div>");
            }

            if ($(this).attr("data-sort-direction") == "@DirectionSort.Dsc") {
                $(this).attr("data-sort-direction", "@DirectionSort.Asc").find(".sortArrow").attr("src", "/Content/images/uparrow.png");
            } else {
                $(this).attr("data-sort-direction", "@DirectionSort.Dsc").find(".sortArrow").attr("src", "/Content/images/downarrow.png");
            }

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                type: "POST",
                data: JSON.stringify({
                    'filter': getFilters(),
                    'sort': getSortBy(this)
                }),
                url: "@Url.Action("SortJobs")",
                success: function (data, textStatus, jqXHR) {
                    $("#actualPostings").html(data);
                },
                fail: function () {
                    $("#error").html("An unexpected error has occured please refresh and try again.");
                }
            });
        });
    });

    function getSortBy(context) {
        return {
            Direction: $(context).attr("data-sort-direction"),
            SortBy: $(context).attr("data-sort-property")
        };
    }
</script>