﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style.css")">
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.scrollTo.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/OsuJobs.js")"></script>
</head>
<body>
    <div id="main">    
        <div class="title"> 
            <img id="mainLogo" src="@Url.Content("~/Content/images/osuLogo.png")" />
            <div class="subTitle">
                Jobs
            </div>
        </div>
        <div id="error"></div>
        @RenderBody()
        <div id="scrollToTop">
            Top
        </div>
    </div>
</body>
</html>
